@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
    font-family: 'Open Sans' ,sans-serif;
}
header{
    background:linear-gradient(95deg,orange,rgb(175, 1303, 55)) ;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.logo h1{
    margin:0;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: Bangers;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
nav a,.btns button{
    text-decoration: none;
    font-family: Bangers;
    font-size: 20px;
    font-weight: bold;
    color:teal;
    padding:20px;
}
.btns button{
   margin-right: 10px;
   border: none;
   border-radius: 5px;
   padding: 10px 20px;
   background-color: darkblue;
   color:white; 
}
.hero{
    display: flex;
    align-items: center;
    padding: 50px;
    background: linear-gradient(45deg,orange,rgb(223, 146, 3));
}
.hero img{
    margin-right: 50px;
}
.hero .left{
    font-size: 20px;
    font-weight: bold;
}
.hero .left span{
    color: darkblue;
    font-family: Bangers;
}
.hero p{
    font-size: 20px;
}
.second{
    background-color: #f7f7f7;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px;
    height:500px;
    font-size: 60px;
    font-family: Bangers;

}
.second span{
    font-size: 60px;
    font-weight: bold;
    margin-right: 10px;
    color:orange;
}
.second p{
    font-size: 20px;
    font-family: sans-serif;
}